/*👉 зверніться тільки до тих посилань, значення атрибутів href яких починається з https та зробіть їх червоного кольору;

👉 буде діяти тільки для <p>, який іде після <ul> і зробіть розмір його шрифта 24рх.*/





a[href="https://www.youtube.com/"]{
color:red;
}



a[href="https://www.youtube.com/"]{
color:red;
}




ul+p{
font-size: 100px;
}




